@model elearningapp.Models.Courses

@{
	ViewData["Title"] = "Delete";
}
<section class="d-flex justify-content-center align-items-center mt-4">
	<div class="row">
		<h2>Delete</h2>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Category)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Category)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.EnrollmentCount)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.EnrollmentCount)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ImageUrl)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ImageUrl)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.CourseDuration)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CourseDuration)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Instructor)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Instructor.Id)
			</dd>
		</dl>

		<form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Delete" class="btn btn-danger mt-3" /> 
			<a asp-action="CourseList" asp-controller="Users" class="btn btn-success mt-3">Back to List</a>
		</form>
	</div>
</section>