@using PagedList;
@using PagedList.Mvc;
@using System.Web;
@model PagedList.IPagedList<elearningapp.Models.Courses>
@{
    var i = 0;
}
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px; /* Adjust the margin as needed for spacing */
        }

            /* Style individual pagination items */
            .pagination li {
                list-style-type: none;
                margin: 0 5px; /* Adjust the margin to control the separation between buttons */
            }

                /* Style active pagination item */
                .pagination li.active a {
                    font-weight: bold;
                }
    </style>
</head>
<main id="main" data-aos="fade-in">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Courses</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-3">
                    <h3>Search</h3>
                    <!-- Search form -->
                    <form method="post" asp-action="Index" asp-controller="Courses">
                         <input class="form-control" name="SearchString" type="text" placeholder="Search" aria-label="Search">
                          <input type="submit" value="Filter" class="btn btn-primary btn-sm mt-3" />
                          <a value="" asp-action="" asp-controller="Courses" class="btn btn-secondary btn-sm mt-3">Reset</a>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="row" data-aos="zoom-in" data-aos-delay="100">

                        @foreach (var item in Model)
                        {
                            i++;
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                <div class="course-item">
                                    <img src="images/@item.ImageUrl" class="img-fluid" alt="..." width="400" height="200"> @*images/@($"course-{i}.png")*@
                                    <div class="course-content">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4>@item.Category</h4>
                                        </div>


                                        <h3><a asp-action="" asp-controller="Assignments" asp-route-id="@item.Id">@item.Title</a></h3>
                                        <p>@item.Description.</p>
                                        <div class="trainer d-flex justify-content-between align-items-center">
                                            @if (User.IsInRole("Student"))
                                            {
                                                <form method="post" asp-action="Enroll">
                                                    <input type="hidden" name="courseId" value="@item.Id" />
                                                    <button type="submit" class="btn btn-primary btn-sm btn-rounded">Enroll</button>
                                                </form>
                                            }
                                            <div class="trainer-rank d-flex align-items-center">
                                                <i class="bi bi-person">@item.EnrollmentCount</i>
                                                &nbsp;&nbsp;
                                                <i class="bi bi-clock">@item.CourseDuration</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End Course Item -->

                            @if (i % 3 == 0)
                            {
                            @:</div>
                            @:<div class="row" data-aos="zoom-in" data-aos-delay="100">
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Add button to change page -->
            <div class="row">


                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        @if (Model.PageCount > 1)
                        {
                            @for (var j = 1; j <= Model.PageCount; j++)
                            {
                                <li class="@(j == Model.PageNumber ? "active" : "")">
                                    <a href="?p=@j">@j</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
    </section>
</main>